
README*
_README
LICENSE
requirements/requirements_*
v_*/
_t
db.sqlite3*
schedul/migrations/*

.git
.gitignore

db.sqlite3

#.env
**/__pycache__

.python-version
.coverage

venv
**/*.swp
*.vim

sec
tests
_m
_t
