
#README*
#LICENSE
#gpl-3.0.txt
#requirements/requirements_*
#v_*/
#schedul/migrations/*

db.sqlite3

#*/.env*
*/.env

.dockerignore
compose/
compose*.yaml

.git
.gitignore
.github

venv
**/__pycache__

.python-version
.coverage

**/*.swp
*.vim

tests
_a
*/_a
_aux
_m
_t
*/_t
_README
